<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
   <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>
<body>
     <div>
        {{>header}}
    </div>
    <div class="contact">
    <h2>{{phone}}</h2>
    <p>{{gmail}}</p>
    <div class="icons">
    <img src={{fb}} alt="fb"/>
    <img src={{insta}} alt="insta"/>
    <img src={{twitter}} alt="twitter"/>
    </div>
    </div>
     <div>
        {{>footer}}
    </div>
</body>
</html>